O exercício a ser desenvolvido para a presente unidade consiste em conectar-se a uma API. O Banco Central do Brasil disponibiliza dados a respeito de diversos indicadores econômicos do país. Sua tarefa será encontrar a série histórica relativa à inflação (IPCA) na plataforma de dados abertos do BC, importá-la e transformá-la em um DataFrame do Pandas.
Você precisará criar um Jupyter Notebook (em sua máquina ou no Google Colab) com o código que mostre que a conexão com a API foi devidamente realizado. Em seguida, deverá compartilhá-lo com seu mentor através de um link criado no Colab, GitHub ou Google Drive.

https://dadosabertos.bcb.gov.br/dataset/16121-indice-nacional-de-precos-ao-consumidor---amplo-ipca---nucleo-por-exclusao---ex2/resource/591a20e5-a50e-41db-9fe9-08df1788247c

In [7]:
import pandas as pd
import json

In [5]:
dados_ipca = pd.read_json('https://api.bcb.gov.br/dados/serie/bcdata.sgs.16121/dados?formato=json')
dados_ipca

           data  valor
0    01/01/1991  20.27
1    01/02/1991  19.62
2    01/03/1991  13.45
3    01/04/1991   4.85
4    01/05/1991   8.15
..          ...    ...
357  01/10/2020   0.52
358  01/11/2020   0.36
359  01/12/2020   1.17
360  01/01/2021  -0.03
361  01/02/2021   0.48

[362 rows x 2 columns]